<!DOCTYPE html>
<html lang="sv">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>DT207G Moment1</title>
		<link href="css/styles.css" rel="stylesheet">
	</head>
	<body>
		<header>
		</header>

		<main>
			<form method="post">
				<fieldset>
					<legend>Lägg till kurs</legend>
					<label for="code">Kurscode: </label>
					<input type="text" id="code" name="code" placeholder="DT000G" required><br>
					<label for="name">Kursnamn: </label>
					<input type="text" id="name" name="name" placeholder="Webbutveckling" required><br>
					<label for="progression">Progression</label>
					<input type="text" id="progression" name="progression" placeholder="A" required><br>
					<label for="syllabus">Kursplan</label>
					<input type="text" id="syllabus" name="syllabus" placeholder="https://www.miun.se/utbildning/kursplaner-och-utbildningsplaner/DT000G/" required><br>
					<input type="submit" value="Lägg till">
					<input type="reset" value="Nollställ">
				</fieldset>
			</form>
		</main>

		<footer>
		</footer>
	</body>
</html>
